<!-- <div id="search-container" style="display:none;"> -->
<div id="search-container">
    <div id="close-container">
        <button id="close-search" aria-label="Close" class="close" type="button">&times;</button>
    </div>
    <div>
	<table id="song-table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>System Architect</td>
                <td>Edinburgh</td>
            </tr>
            <tr>
                <td>Accountant</td>
                <td>Tokyo</td>
            </tr>
            <tr>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
            </tr>
            <tr>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
            </tr>
        </tbody>
    </table>
    </div>
<div>
<form id="form-hockey_v1" name="form-hockey_v1">
    <div class="typeahead__container">
        <div class="typeahead__field">
 
            <span class="typeahead__query">
                <input class="js-typeahead-hockey_v1" name="hockey_v1[query]" type="search" placeholder="Search" autocomplete="off">
            </span>
            <span class="typeahead__button">
                <button type="submit">
                    <i class="typeahead__search-icon"></i>
                </button>
            </span>
 
        </div>
    </div>
</form>
</div>
</div>
